body{
    background: black;
    color: white;
    display: flex;
    justify-content: center;
    height: 100vh;
}
h1{
    color: aquamarine;
    font-size: large;
    justify-content: center;
    align-items: center;
    
}